<!DOCTYPE html>
<html>
  <head>
    <title>Wechat Demo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://res.wx.qq.com/open/js/jweixin-1.2.0.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag do %>
        var jssdk_config = <%= @jssdk_config.to_json.html_safe -%>;
    <% end %>
    <link href=./static/css/app.1ae366047a8c935f53324c612ed99f73.css rel=stylesheet>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
