<!DOCTYPE html>
<html>
  <head>
    <title>Wechat Demo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag do %>
        var jssdk_config = <%= @jssdk_config.to_json.html_safe -%>;
    <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
